#skewed-section > * {
  transform: skewY(4deg);
}
body,
html {
  background-image: url("images/background.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.section {
  padding-top: 12px;
  transform: skewY(-10deg);
  background-color: yellow;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 {
  transform: skewY(-10deg);
  background-color: yellow;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center margin-left 0px 0px 0px 30px;
}

.top {
  background-image: url("images/book.jpg");
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  column-gap: 10px;
  row-gap: 10px;
}

.row img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
